:root {
    /* fonts */
    --font-roboto: 'Roboto', sans-serif;
    --font-salsa: 'Salsa', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-lato: 'Lato', sans-serif;

    /* colors  */
    --nn-primary: #1f3e72;
    --nn-secondary: rgb(241, 241, 241);
    --nn-black: #131110;
    --nn-grey: #b1b1b1;
    --nn-trans-black: #13111091;
    --nn-trans-white: #d4d4d4a4;
    --nn-transparent: #9796b179;
    --nn-light-blue: #b2c1ff;
    --nn-blue-light-gradien: linear-gradient(97.05deg, #4066ff 3.76%, #4066ff5c 100%);
    --nn-orange-gradien: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
    --nn-primary-gradien: linear-gradient(270deg, #4066ff 0%, #1f3e72 100%);
    --nn-primary-gradien: linear-gradient(270deg, #4066ff 0%, #1f3e72 100%);
    --nn-blue: #4066ff;
    --nn-lightBlue: #eeeeff;

    --nn-transition: all .3s ease;
    --nn-shadow: 0 23px 21px -8px rgba(255, 255, 255, 0.527);
    --nn-dark-shadow: 0 14px 21px -8px rgba(87, 87, 87, 0.74);
    --nn-light-shadow: 1px 4px 5px rgba(116, 116, 116, 0.74);
    --nn-borrDiv: 10px;
    --nn-borrBtn: 5px;
    --nn-padding-btn: 5px 12px;
}

.container {
    position: relative;
}

.top {
    position: sticky;
    top: -1.6rem;
    z-index: 1;
    background: var(--nn-secondar);
}

.logo {
    font-family: fantasy;
    letter-spacing: 5px;
    font-size: 2.5rem;
    color: var(--nn-black);
}

.bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    height: auto;
    margin-top: 1rem;
    padding: 1rem;
}

.top_container {
    overflow-x: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
}

.option_container {
    display: flex;
    align-items: center;
    gap: 1.1rem;
    width: 100%;
}

.option {
    border: 1px solid var(--nn-grey);
    padding: 0.5rem;
    text-transform: capitalize;
    border-radius: 50px;
    cursor: pointer;
    transition: var(--nn-transition);
    color: var(--nn-grey);
}

.option:hover {
    color: var(--nn-black);
    border-color: var(--nn-black);
}

.see_more {
    border: 1px solid var(--nn-blue);
    color: var(--nn-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    padding: 0.5rem 14px;
    border-radius: 50px;
    gap: 1px;
    cursor: pointer;
    transition: var(--nn-transition);
}

.see_more:hover {
    gap: .6rem;
}