:root {
    /* fonts */
    --font-roboto: 'Roboto', sans-serif;
    --font-salsa: 'Salsa', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-lato: 'Lato', sans-serif;

    /* colors  */
    --nn-primary: #1f3e72;
    --nn-secondary: rgba(255, 255, 255, 0.78);
    --nn-black: #131110;
    --nn-grey: #b1b1b1;
    --nn-trans-black: #13111091;
    --nn-trans-white: #d4d4d4a4;
    --nn-transparent: #cccbdb4d;
    --nn-light-blue: #b2c1ff;
    --nn-blue-light-gradien: linear-gradient(97.05deg, #4066ff 3.76%, #4066ff5c 100%);
    --nn-orange-gradien: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
    --nn-primary-gradien: linear-gradient(270deg, #4066ff 0%, #1f3e72 100%);
    --nn-primary-gradien: linear-gradient(270deg, #4066ff 0%, #1f3e72 100%);
    --nn-blue: #4066ff;
    --nn-lightBlue: #eeeeff;

    --nn-transition: all .3s ease;
    --nn-shadow: 0 23px 21px -8px rgba(255, 255, 255, 0.527);
    --nn-dark-shadow: 0 14px 21px -8px rgba(87, 87, 87, 0.74);
    --nn-light-shadow: 1px 4px 5px rgba(116, 116, 116, 0.74);
    --nn-borrDiv: 10px;
    --nn-borrBtn: 5px;
    --nn-padding-btn: 5px 12px;
}

.container {
    display: block;
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;

}

.menu_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    background-color: var(--nn-secondary);
    padding: 7px;
    border: 1px solid var(--nn-transparent);
    border-radius: 8px;
}

.menu_item {
    padding: 5px 12px;
    color: var(--nn-grey);
    font-size: large;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: var(--nn-transition);
}

.menu_item:hover {
    color: var(--nn-black);
}

.menu_add {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    background-color: var(--nn-blue);
    padding: 7px 15px;
    border: 1px solid var(--nn-transparent);
    border-radius: 8px;
    transition: var(--nn-transition);
    cursor: pointer;
    color: var(--nn-white);
}

.menu_add:hover {
    background-color: var(--nn-secondary);
    color: var(--nn-primary);
}

.add_btn {
    outline: none;
    border: none;
    background: none;
    font-size: 1.2rem;
}