:root {
    /* fonts */
    --font-roboto: 'Roboto', sans-serif;
    --font-salsa: 'Salsa', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-lato: 'Lato', sans-serif;

    /* colors  */
    --nn-primary: #1f3e72;
    --nn-secondary: rgba(255, 255, 255, 0.78);
    --nn-black: #131110;
    --nn-grey: #b1b1b1;
    --nn-trans-black: #13111091;
    --nn-trans-white: #d4d4d4a4;
    --nn-transparent: #9796b179;
    --nn-light-blue: #b2c1ff;
    --nn-blue-light-gradien: linear-gradient(97.05deg, #4066ff 3.76%, #4066ff5c 100%);
    --nn-orange-gradien: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
    --nn-primary-gradien: linear-gradient(270deg, #4066ff 0%, #1f3e72 100%);
    --nn-primary-gradien: linear-gradient(270deg, #4066ff 0%, #1f3e72 100%);
    --nn-blue: #4066ff;
    --nn-lightBlue: #eeeeff;

    --nn-transition: all .3s ease;
    --nn-shadow: 0 23px 21px -8px rgba(255, 255, 255, 0.527);
    --nn-dark-shadow: 0 14px 21px -8px rgba(87, 87, 87, 0.74);
    --nn-light-shadow: 1px 4px 5px rgba(116, 116, 116, 0.74);
    --nn-borrDiv: 10px;
    --nn-borrBtn: 5px;
    --nn-padding-btn: 5px 12px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.container {
    width: 420px;
    position: relative;
}

.input_container {
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
}

label {
    font-weight: bold;
}

.btn,
.loading_btn {
    width: 100%;
    margin: 2rem 0 0;
    outline: none;
    border: 2px solid var(--nn-trans-black);
    border-radius: 50px;
    background: var(--nn-blue);
    height: 3rem;
    font-size: medium;
    transition: var(--nn-transition);
    cursor: pointer;
}

.loading_btn {
    animation: loading 1s ease infinite;
}

@keyframes loading {
    0% {
        letter-spacing: 3px;
    }

    50% {
        letter-spacing: 5px;
    }

    100% {
        letter-spacing: 3px;
    }
}

.btn:hover,
.add_item:hover {
    scale: .97;
}

.list_input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.add_item {
    outline: none;
    border: 2px solid var(--nn-transparent);
    border-radius: 50px;
    background: var(--nn-blue);
    padding: 10px 15px;
    font-size: medium;
    transition: var(--nn-transition);
    cursor: pointer;
    text-wrap: nowrap;
    align-self: flex-end;
}

.add_item:disabled {
    background-color: var(--nn-grey);
    color: var(--nn-trans-black);
}

.display_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    padding: 10px 0;
}

.ingred_row_container {
    display: flex;
    align-items: center;
    width: 100%;
}

.ingred_row_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--nn-trans-white);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.ingred_row_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding-left: 10px;
}

.numbering {
    height: 100%;
    margin: 2px 5px 0 0;
    font-size: large;
    align-self: flex-start;
}

.icon {
    cursor: pointer;
    transition: var(--nn-transition);
}

.icon:hover {
    color: var(--nn-blue);
    scale: 1.1;
}

.textarea {
    resize: vertical;
    outline: none;
    border: none;
    font-size: large;
    padding: 10px;
    width: 100%;
    height: 100%;
    min-height: 3rem;
    color: var(--nn-black);
    background-color: var(--nn-secondar);
    border: 2px solid var(--nn-grey);
    border-radius: 20px;
}

.recipe_img {
    width: 100%;
    height: auto;
    max-height: 170px;
    border-radius: 5px;
}