:root {
  color-scheme: light dark;
  --nn-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --nn-white: rgba(255, 255, 255, 0.87);
  --nn-bg-color: #242424;
  /* fonts */
  --font-roboto: 'Roboto', sans-serif;
  --font-salsa: 'Salsa', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-lato: 'Lato', sans-serif;

  /* colors  */
  --nn-primary: #1f3e72;
  --nn-secondar: rgb(241, 241, 241);
  --nn-black: #131110;
  --nn-grey: #b1b1b1;
  --nn-trans-black: #13111091;
  --nn-trans-white: #d4d4d4a4;
  --nn-transparent: #9796b179;
  --nn-light-blue: #b2c1ff;
  --nn-blue-light-gradien: linear-gradient(97.05deg, #4066ff 3.76%, #4066ff5c 100%);
  --nn-orange-gradien: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
  --nn-primary-gradien: linear-gradient(270deg, #4066ff 0%, #1f3e72 100%);
  --nn-primary-gradien: linear-gradient(270deg, #4066ff 0%, #1f3e72 100%);
  --nn-blue: #4066ff;
  --nn-lightBlue: #eeeeff;
  --danger: #d30d0d;

  --nn-transition: all .3s ease;
  --nn-shadow: 0 23px 21px -8px rgba(255, 255, 255, 0.527);
  --nn-dark-shadow: 0 14px 21px -8px rgba(87, 87, 87, 0.74);
  --nn-light-shadow: 1px 4px 5px rgba(116, 116, 116, 0.74);
  --nn-borrDiv: 10px;
  --nn-borrBtn: 5px;
  --nn-padding-btn: 5px 12px;
}

a {
  font-weight: 500;
  color: #117738;
  text-decoration: inherit;
}

a:hover {
  color: #3cbe6e;
}

body {
  margin: 0;
  padding: auto;
  min-height: 100vh;
  width: 100vw;
}

.suspend_loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  animation: loader 1s ease infinite forwards;
}

img {
  object-fit: cover;
}

.line {
  color: var(--nn-grey);
  
  width: 100%;
}

@keyframes loader {
  0% {
    letter-spacing: 2px;
    scale: 1;
  }

  50% {
    letter-spacing: 3px;
  }

  100% {
    letter-spacing: 2px;
    scale: 1;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}